#logo_wrapper img {
  max-width: 50%;
  height: auto;
}
body {
 	background-image: url(background-final.png);
	background-repeat: no-repeat;
	background-color: #FBF4E5;
	background-attachment: fixed;
	background-position: center bottom; 
	text-align: center;
}
button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #FBF4E5 5%, #F7D58C 100%);
	border-radius:5px;
	border:3px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 12px;
	text-shadow:0px 1px 0px #ffffff;
	cursor: pointer;
}
button:hover {
	background:linear-gradient(to bottom, #FBF4E5 5%, #F7D58C 100%);
	background-color:#FBF4E5;
}
button:active {
	position:relative;
	top:1px;
}
button span {
	width: 15px;
	height: 15px;
	display: inline-block;
}
.gameinfo {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #F7D58C 5%, #FBF4E5 100%);
	background-color:#714aff;
	border-radius:5px;
	border:3px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:10px 30px;
	text-shadow:0px 1px 0px #ffffff;
}
#mygametable {
	margin-bottom: 10px;
	display: inline-block;
}